:root {
  --color-light-green: #2a9b00;
  --color-blue: #4348c2;
  --color-light-blue: #4f60d2;
  --color-black: #000;
  --color-white: #fff;
  --color-leaf-green: #6ea514;
  --color-musg-green: #4e8e0e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}
